<!doctype html>
<html>
  <body bgcolor="black">
    <title>My alarm dashboard, if you are a burglar please leave alarm switched on.</title>
    <h1 style="color:white" align='Center'>LouPi Dashboard</h1>
    <h3 style="color:white" align='Center'>Alarm</h1>
    <TR>
        <TD>
            {% if alarm_enabled %}
                <a href='alarm-config/set?enabled=False' style='text-align: center'>
                    <img src='../pics_and_buttons/armed.jpg' alt='' width='314px' height='115px' style='display: block; margin-left: auto; margin-right: auto;'>
                </a>
            {% else %}
                <a href='alarm-config/set?enabled=True' style='text-align: center'>
                    <img src='../pics_and_buttons/off.jpg' alt='' width='314px' height='115px' style='display: block; margin-left: auto; margin-right: auto;'>
                </a>
            {% endif %}
        </TD>
    </TR>
    <h3 style="color:white" align='Center'>Heating</h1>
    <TR>
        <TD>
            {% if heating_enabled %}
                <a href='heating-config/set?enabled=False' style='text-align: center'>
                    <img src='../pics_and_buttons/armed.jpg' alt='' width='314px' height='115px' style='display: block; margin-left: auto; margin-right: auto;'>
                </a>
            {% else %}
                <a href='heating-config/set?enabled=True' style='text-align: center'>
                    <img src='../pics_and_buttons/off.jpg' alt='' width='314px' height='115px' style='display: block; margin-left: auto; margin-right: auto;'>
                </a>
            {% endif %}
        </TD>
    </TR>
    <TR>
        <TD>
            <h4 style="color:white" align='Center'> CPU temperature: {{ cpu_temp }}°C </h4>
        </TD>
    </TR>
    <TR>
        <TD>
            <h4 style="color:white" align='Center'> RAM usage: {{ ram_perc }}% </h4>
        </TD>
    </TR>
    <TR>
        <TD>
            <h4 style="color:white" align='Center'> Free storage: {{ free_storage|round(3) }}GB </h4>
        </TD>
    </TR>
    <TR>
        <TD>
            <h4 style="color:white" align='Center'> Last room temperature: {{ last_room_temp|round(1) }}°C </h4>
        </TD>
    </TR>
    <TR>
        <TD>
            <h4 style="color:white" align='Center'> Last heating temperature: {{ last_heating_temp|round(1) }}°C </h4>
        </TD>
    </TR>
    <TR>
        <TD>
            <h4 style="color:white" align='Center'> Last update: {{ last_update }} </h4>
        </TD>
    </TR>
  </body>
</html>

